.intro-pic {
    margin-top: -75px;
}

a.deco-none {
    color: inherit;
    text-decoration:none;
}

.photo-credit {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
}

.photo-credit-inner {
    display: inline-block;
    padding: 2px 3px;
}

.photo-credit-camera {
    height: 12px;
    width: auto;
    position: relative;
    vertical-align: middle;
    top: -1px;
    fill: white;
}

.pricelist {
    width: 100%;
}

.pricelist td {
    padding: 8px 12px;
}

.pricelist td.text,
.pricelist td.subtext {
    font-style: italic;
}

.pricelist td.subtext {
    padding-top: 0px;
}

.soinDesc {
    color: dimgrey;
    font-size: 88%;
}

.pricelist td.price {
    width: 10%;
    text-align: right;
    font-weight: 600;
}

.odd {
    background-color: #80808080;
}

.even {
    background-color: #80808020;
}

.pricelist_annotation {
    color: #45a949;
    font-size: 90%;
    font-style: italic;
    font-weight: 600;
}

.pricelist_annotation a {
    color: #45a949;
    font-size: 90%;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;    
}